/* Core Stuff */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*body {*/
    /*font-size: 1rem;*/
    /*!*line-height: 1.7;*!*/
    /*color: #606d6e;*/
/*}*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f1c40f;
}

a {
    color: #1F8CD6;
    text-decoration: none;
}

a:hover {
    color: #175E91;
}

/*pre {*/
    /*background: #F0F0F0;*/
    /*margin: 1rem 0;*/
    /*border-radius: 2px;*/
/*}*/

/*blockquote {*/
    /*border-left: 10px solid #eee;*/
    /*margin: 0;*/
    /*padding: 0 2rem;*/
/*}*/

/* Utility Classes */
/*.wrapper {*/
    /*margin: 0 3rem;*/
/*}*/

/*.padding {*/
    /*padding: 3rem 1rem;*/
/*}*/

/*.left {*/
    /*float: left;*/
/*}*/

/*.right {*/
    /*float: right*/
/*}*/

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */
.header .padding {
    padding: 1rem 0;
}

.header {
    background-color: #1F8DD6;
    color: #eee;
}

.header a {
    color: #fff;
}

.header .logo {
    font-size: 1.7rem;
    text-transform: uppercase;
}

.footer {
    background-color: #eee;
}

/* Menu Settings */
.main-nav ul {
    text-align: center;
    letter-spacing: -1em;
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    letter-spacing: normal;
}

.main-nav ul li a {
    position: relative;
    display: block;
    line-height: 45px;
    color: #fff;
    padding: 0 20px;
    white-space: nowrap;
}

.main-nav > ul > li > a {
    border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
    background-color: #175E91;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
    background-color: #fff;
    color: #175E91;
}

/* Dropdown CSS */
.main-nav ul li {position: relative;}

.main-nav ul li ul {
    position: absolute;
    background-color: #1F8DD6;
    min-width: 100%;
    text-align: left;
    z-index: 999;

    display: none;
}
.main-nav ul li ul li {
    display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
    left: 100%;
    top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
    display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
    padding-right: 30px;
}
.main-nav .has-children > a:after {
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    display: inline-block;
    right: 8px;
    top: 0;
}

.main-nav .has-children .has-children > a:after {
    content: '\f105';
}
.callout
{
    border-radius:120px;
    border-collapse: collapse;
    color:white;

}
.callout-row{
    height: 300px;
}
.Degrade {
    background-image: linear-gradient(60deg,purple, dodgerblue);
    border-top-right-radius: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 3000px;
    border-bottom-right-radius: 1000px;
}
/*.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:none;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#f1f1f1;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}
a.bouton:active {outline-style:none;}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}
header{display:inline-block; font-size:12px;}
span{padding-left:20px;}
a{color:#336699;}*/

html, body {
    padding: 0;
    margin: 0;
}

.toggle_btn {
    height: 30px;
    width: 30px;
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.toggle_btn span {
    height: 3px;
    background-color: #2c3e50;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

.toggle_btn span:before {
    content: '';
    height: 3px;
    background-color: #2c3e50;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
}

.toggle_btn span:after {
    content: '';
    height: 3px;
    background-color: #2c3e50;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
}

.menu {
    height: 500px;
    background-color: #f1c40f;
    width: 200px; 
    border-radius: 8px;
}

.menu a {
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
    display: block;
    padding-top: 30px;
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

.nav {
    margin-left: -200px;
    transition-duration: 0.5s;
}

.nav_open {
    margin-left: 0;
    transition-duration: 0.5s;
}
.main-nav ul li {
    display: block;
}