
<div class="Degrade">
    <div class="container ">
        <div class="callout-row">
            <div class="row">

                <div class="callout col-md-6-12 col-md-pull-3 text-center">
                    {% block content %}
                        {{ page.content }}
                    {% endblock %}
                </div>
            </div></div></div></div>