<div class="header">

    <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
        <i class="fa fa-rebel"></i>
        {{ config.site.title }}
    </a>
    {% block header_navigation %}
    {#<div class="menu">#}
    {#<span class="title">Sitename</span>#}
    {#<input class="burger" type="checkbox">#}



                {% block navigation %}
                    {% include 'partials/navigation.html.twig' %}
                {% endblock %}
    {#</div>#}

    {% endblock %}
</div>
